:root {
  --azul-principal: #18ACC4;
  --azul-secundario: #007A8D;
  --amarelo-principal: #FDCB13;
  --amarelo-secundario: #DE9E1F;
  --verde: #0FA866;
  --branco: #FFF;
  --preto-textos: #1F2D30;
  --cinza-background: #FBFBFB;
}